// VARIABLES
// * Colors *
$bgbody =#687D81
$bgcontrols =#DDE8EB
$bgbtns =#566871
$bgvolbar =#A0B2B6
$bgseekbar =#1D2B32
$bgfillseekbar = #78BFCE
// * FONT *
$ff = 'Montserrat', sans-serif



// MIXINS   
flex($jc = flex-start, $ai = stretch)
    display flex
    justify-content $jc
    align-items $ai
// GENERAL STYLE
*
*::before
*::after
    padding 0
    margin 0
    box-sizing border-box

html
    height 100%
    font-size 62.5%

body
    height 100%
    background-color $bgbody
    flex(center, center)

.audio
    width 50rem
    height 40rem
    box-shadow 0 0 1rem 1px rgba(#000, .15)
    border-radius 1rem
    &__songDetails
        width 100%
        height 50%
        background-image radial-gradient(circle at left, $bgcontrols 0%, $bgbtns 100%)
        border-top-left-radius 1rem
        border-top-right-radius 1rem
        flex(space-between, flex-start)
        flex-direction column  
        padding-top 1rem
        .like-btn
            align-self flex-end
            font-size 3rem
            color $bgfillseekbar
            padding-right 2rem
        .analyzer
            width 100%
            height 6rem
            #myCanvas
                width 100%
                height 100%
                background-color $bgseekbar
        .song
            flex(flex-start, center)
            font-family $ff
            color $bgcontrols
            padding-left 4rem
            &__avatar
                width 8rem
                height 8rem
                background-image url(../images/1.jpg)
                background-size cover
                background-position center center
                border 2px solid $bgcontrols
                margin-right 2rem
                box-shadow 0 2px 1rem 0 rgba(#000, .3)
            &__title
                font-size 3rem
                font-weight 700
            &__album
                font-size 2.2rem
                font-weight 400
    &__seekBar
        flex(space-between, center)
        width 100%
        height 6rem
        background-color darken($bgbtns, 10%)
        padding 2rem 1rem
        .song-timer
        .song-duration
            font-family $ff
            font-size 2rem
            font-weight 400
            color $bgcontrols
        .song-timer
            margin-right 1rem
        .song-duration
            margin-left 1rem
        .seek-bar
            flex(flex-start, center)
            width 100%
            background-color $bgseekbar
            border-radius 10rem
            cursor pointer
            .fill
                height 2rem
                background-color $bgfillseekbar
                border-radius 10rem
            .handle
                width 2rem
                height 2rem
                border-radius 50%
                background-color $bgbtns
                box-shadow inset -1px 0 1rem 0 $bgfillseekbar,
                          0 1px 1rem 0 rgba(#000, .5)
                margin-left -1.5rem
    &__controls
        padding 0 2rem
        flex(flex-start, center)
        height calc(40rem - 50% - 6rem)
        background-color $bgcontrols
        border-bottom-left-radius 1rem
        border-bottom-right-radius 1rem
        box-shadow 0 5px 0 0 darken($bgcontrols, 10%)
        .replay-btn
        .shuffle-btn
            width 4rem
            height 4rem
            border-radius 50%
            border 1px solid darken($bgcontrols, 5%)
            flex(center, center)
            color $bgvolbar
            font-size 2rem
            margin-right 2rem
            transition color 300ms
            &:hover
                color $bgfillseekbar
                cursor pointer      
        .play-btn
        .back-btn
        .next-btn
            flex(center, center)
            background-color $bgbtns
            color $bgcontrols
            border-radius 50%
            box-shadow 0 2px 1rem 0 rgba(#000, .7)
            margin-right 1rem
            &:hover
                cursor pointer
        .back-btn
        .next-btn   
            width 5rem
            height 5rem            
            font-size 3rem
           
        .play-btn
            width 7rem
            height 7rem
            font-size 4rem
        .vol-control
            flex(flex-start, center)
            .vol-bar
                width 10rem
                background-color $bgvolbar
                flex(flex-start, center)
                border-radius 10rem
                margin-right 1rem
                &:hover
                    cursor pointer
                .fill
                    height 1.5rem
                    width 20%
                    background-color $bgfillseekbar
                    border-radius 10rem
                .handle
                    width 1.5rem
                    height 1.5rem
                    border-radius 50%
                    background-color $bgbtns
                    box-shadow 0 2px 1rem 0 rgba(#000, .7)
            .vol-icon
                font-size 2rem
                color $bgbtns



        